@{
    ViewBag.Title = "Vincular Motorista";
}

<h2>Vincular Motorista</h2>
<br/>
<p>Insira o código de vinculação</p>

<div class="containerConteudo" max-width=60%>
    <div class="form-container">
        <form method="post" asp-action="VincularMotorista" asp-controller="AlunoCodigo">
            <div class="input-box">
                <input class="input-box codigo" type="text" id="codigo" name="codigo" placeholder="Código de Vinculação" required />
            </div>
            <br/>
            <button class="btnC btn-custom" type="submit">Vincular</button>
        </form>
    </div>
</div>


@if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
