body {
    font-family: 'Poppins', sans-serif;
    background: url('/images/background-motorista.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os containers */
}

.containerConteudo {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px); /* Faz com que os containers ocupem 50% do espaço disponível */
    min-width: 300px; /* Define a largura mínima para os containers */
}

@media (max-width: 768px) {
    .containerConteudo {
        flex: 1 1 100%; /* Em telas menores, os containers ocuparão 100% da largura */
    }
}


.input-box {
    position: relative;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*atribuir ao baguio da van dps*/
.editar-endereco-link {
    color: #333;
    margin-bottom: 10px;
}

.infosAlunos-container{
    max-width: 30%;
}

.avaliacaodada-container {
    max-width: 400px;
    width: 100%;
}

.comentario {
    padding: 20px;
    word-wrap: break-word;
    word-break: break-word;
}

.infosMotorista-container {
    max-width: 30%;
}

.avaliacao-container {
    max-height: 400px;
    max-width: 200px;
}

.avisos-container {
    max-height: 400px;
    max-width: 75%;
}

.ConteudoHeader {
    color: white
}

    .ConteudoHeader h3 {
        font-weight: 600;
        color: #333;
    }

.presenca-body th {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

    .presenca-body th:last-child {
        border-bottom: none;
    }

.avisos-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.avisos-body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

    .avisos-body li:last-child {
        border-bottom: none;
    }

.avisos-body a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

    .avisos-body a:hover {
        text-decoration: underline;
    }

.avisos-body small {
    color: #666;
    margin-left: 10px;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}

.status-lido {
    background-color: #6c757d;
}

.status-nao-lido {
    background-color: #007bff;
}

.status-container {
    display: flex;
    align-items: center;
}


.avaliacao-estrelas i {
    font-size: 24px;
    color: gold;
}

.avaliacao-estrelas .bx-star {
    color: lightgray;
}

/* Certifique-se de que o backdrop esteja atrás do modal */
.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}

.modal-dialog {
    z-index: 1055 !important;
}

/* Estilo do botão personalizado */
.btn-custom {
    background-color: #0838FF;
    color: white; /* Cor do texto */
    border: none; /* Remover borda */
    border-radius: 25px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    font-weight: bold; /* Texto em negrito */
    text-align: center; /* Centralizar o texto */
}

    .btn-custom:hover {
        background-color: #1c0778; /* Cor de fundo ao passar o mouse */
        color: white;
    }
