body {
    font-family: 'Poppins', sans-serif;
    background: url('/images/backgroud-aluno.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: transparent !important;
    box-shadow: none;
}

    .navbar .nav-link {
        color: white;
    }

        .navbar .nav-link:hover {
            color: #ddd;
        }

    .navbar .dropdown-menu {
        background-color: #fff;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }



.container {
    background-color: rgba(255, 255, 255, 0.9); /* Lighten background for readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}



.avisos-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avisos-header{
    color: white
}

.avisos-header h3 {
    font-weight: 600;
    color: #333;
}

.avisos-body ul {
    list-style-type: none;
    padding: 0;
}

.avisos-body li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

    .avisos-body li:last-child {
        border-bottom: none;
    }

.avisos-body a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

    .avisos-body a:hover {
        text-decoration: underline;
    }

.avisos-body small {
    color: #666;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}

.status-lido {
    background-color: #6c757d;
}

.status-nao-lido {
    background-color: #007bff;
}
