html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-motorista {
    background-color: #6D5ECC;
}

.bg-aluno {
    background-color: #F17530;
}

/* Adicione este CSS ao seu arquivo de estilos global */
.avisos-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    max-width: 400px;
    margin: 20px 0;
}

.avisos-header {
    background-color: #f57c00; /* cor de fundo do cabeçalho */
    padding: 10px;
    color: white;
    font-weight: bold;
}

.avisos-body {
    padding: 10px;
    background-color: #f9f9f9; /* cor de fundo do corpo */
}

    .avisos-body ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .avisos-body li {
        margin-bottom: 10px;
    }

        .avisos-body li strong {
            display: block;
            margin-bottom: 5px;
        }
