@model Cadasvan01.ViewModel.MotoristaViewModel

@{
    ViewBag.Title = "Registro de Usuário";
}
<div class="wrapper register">

    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            <h1>Cadastro de motoristas:</h1>
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="Sobrenome"></label>
                    <input asp-for="Sobrenome" class="form-control" />
                    <span asp-validation-for="Sobrenome" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="CPF"></label>
                    <input asp-for="CPF" class="form-control" id="cpf"/>
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="CNH"></label>
                    <input asp-for="CNH" class="form-control" />
                    <span asp-validation-for="CNH" class="text-danger"></span>
                </div>
            </div>
           

            <div class="form-group col-4">
                <label asp-for="CidadeId">Cidade</label>
                <select asp-for="CidadeId" class="form-control" asp-items="ViewBag.Cidades"></select>
            </div>
            <div class="form-group col-7">
                <label asp-for="Itinerario">Itinerário</label>
                <input asp-for="Itinerario" class="form-control" />
                <span asp-validation-for="Itinerario" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="Celular1">Telefone</label>
                    <input asp-for="Celular1" class="form-control" id="telefone"/>
                    <span asp-validation-for="Celular1" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Celular2">Telefone secundário</label>
                    <input asp-for="Celular2" class="form-control" id="telefone2"/>
                    <span asp-validation-for="Celular2" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group col-5">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="Senha"></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="ConfirmaSenha">Confirme a senha</label>
                <input asp-for="ConfirmaSenha" type="password" class="form-control" />
                <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
            </div>

            <br />

      

       

            <button type="submit" class="btnC btn-dark">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#telefone, #telefone2').on('input', function () {
                var value = $(this).val().replace(/\D/g, '');
                if (value.length > 10) {
                    value = value.replace(/^(\d{2})(\d{5})(\d{4}).*/, '($1)$2-$3');
                } else if (value.length > 5) {
                    value = value.replace(/^(\d{2})(\d{4})(\d{0,4}).*/, '($1)$2-$3');
                } else if (value.length > 2) {
                    value = value.replace(/^(\d{2})(\d{0,5})/, '($1)$2');
                }
                $(this).val(value);
            });

            $('#cpf').on('input', function () {
                var value = $(this).val().replace(/\D/g, '');
                value = value.replace(/(\d{3})(\d)/, '$1.$2');
                value = value.replace(/(\d{3})(\d)/, '$1.$2');
                value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
                $(this).val(value);
            });
        });
    </script>
}