@model Cadasvan01.Areas.Motorista.Controllers.MotoristaIndexViewModel

<h2>Bem-vindo, @Model.Motorista.NomeCompleto</h2>

<a asp-area="Motorista" asp-controller="MotoristaCodigo" asp-action="GerarCodigo">Gerar um código de vinculação</a>
<p><a href="@Url.Action("AlunosVinculados", "Motorista", new { area = "Motorista" })">Ver Alunos Vinculados</a></p>


