
<br />
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Esta é a área do Motorista.</h2>
        </p>

</div>
    <a asp-area="Motorista" asp-controller="MotoristaCodigo" asp-action="GerarCodigo">Gerar um código de vinculação</a>
    <br />
    <a asp-area="Motorista" asp-controller="MotoristaListaAlunos" asp-action="ListaAlunos">Alunos e endereços</a>
    <br />
    
</div>