@model Cadasvan01.Areas.Motorista.Controllers.MotoristaIndexViewModel

@{
    ViewBag.IsIndex = true;
}

<div class="container-flex">
    <div class="containerConteudo infosAlunos-container">
        <div class="ConteudoHeader">
            <h3>Alunos e endereços</h3>
        </div>
        <p>Veja todos os alunos vinculados!</p>
        <a href="@Url.Action("AlunosVinculados", "Motorista", new { area = "Motorista" })" class="btnC btn-custom">Acessar</a>
    </div>

    <div class="containerConteudo infosAlunos-container">
        <div class="ConteudoHeader">
            <h3>Seus avisos</h3>
        </div>
        <p>Crie e gerencie seus avisos publicados!</p>
        <a asp-area="Motorista" asp-controller="MotoristaAvisos" asp-action="Index" class="btnC btn-custom">Acessar</a>
    </div>

    <div class="containerConteudo infosAlunos-container">
        <div class="ConteudoHeader">
            <h3>Código de vinculação</h3>
        </div>
        <p>Crie um código de vinculação e compartilhe-o com um aluno!</p>
        <a asp-area="Motorista" asp-controller="MotoristaCodigo" asp-action="GerarCodigo" class="btnC btn-custom">Gerar um código de vinculação</a>
    </div>
</div>

<button id="iniciarViagemBtn">Iniciar Viagem</button>
<button id="encerrarViagemBtn" style="display:none;">Encerrar Viagem</button>

<!--presenca -->
<div class="row mb-3">
    <div class="col-12">
        @await Html.PartialAsync("_PresencaMotoristaPartial", Model.PresencasHoje)
    </div>
</div>


<a asp-area="Motorista" asp-controller="MotoristaPresencas" asp-action="Historico" class="btnC btn-custom">Ver histórico</a>

<script>
    document.getElementById("iniciarViagemBtn").addEventListener("click", function () {
        fetch('/api/viagens/Iniciar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ destino: 'Destino Exemplo' })
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    document.getElementById("iniciarViagemBtn").style.display = "none";
                    document.getElementById("encerrarViagemBtn").style.display = "block";
                    viagemId = data.viagemId; // Armazenar o ID da viagem
                }
            });
    });

    document.getElementById("encerrarViagemBtn").addEventListener("click", function () {
        fetch('/api/viagens/Encerrar/' + viagemId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data) {
                    document.getElementById("iniciarViagemBtn").style.display = "block";
                    document.getElementById("encerrarViagemBtn").style.display = "none";
                }
            });
    });
</script>