@model IEnumerable<Cadasvan01.Models.Presenca>

@{
    ViewData["Title"] = "Index";
}

<h1>Histórico de presenças</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Data da viagem</h3>
            </th>
            <th>
                <h3>Ida</h3>
            </th>
            <th>
                <h3>Volta</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataViagem)
                </td>
                <td>
                    @if (item.ConfirmadoIda == true)
                    {
                        <i class='bx bxs-check-circle' style="color: #12c00f"></i>
                    }
                    else
                    {
                        <i class='bx bxs-x-circle' style="color: #a70606"></i>
                    }
                </td>
                <td>
                    @if (item.ConfirmadoVolta == true)
                    {
                        <i class='bx bxs-check-circle' style="color: #12c00f"></i>
                    }
                    else
                    {
                        <i class='bx bxs-x-circle' style="color: #a70606"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
