@model List<Cadasvan01.Models.Presenca>

@{
    var dataAtual = DateTime.Now.ToString("dd/MM/yyyy");
}

<div class="containerConteudo presenca-container">
    <div class="ConteudoHeader">
        <h3>Presenças confirmadas @dataAtual</h3>
    </div>
 
    @if (Model.Any())
    {
        <table class="presenca-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ida</th>
                    <th>Volta</th>
                </tr>
            </thead>
            <hr />
            <tbody>
                @foreach (var presenca in Model)
                {
                    <tr>
                        <td>@presenca.Usuario.Nome</td>
                        <td>
                            @if (presenca.ConfirmadoIda)
                            {
                                <i class='bx bxs-check-circle' style="color: #12c00f"></i>
                            }
                            else
                            {
                                <i class='bx bxs-x-circle' style="color: #a70606"></i>
                            }
                        </td>
                        <td>
                            @if (presenca.ConfirmadoVolta)
                            {
                                <i class='bx bxs-check-circle' style="color: #12c00f"></i>
                            }
                            else
                            {
                                <i class='bx bxs-x-circle' style="color: #a70606"></i>
                            }
                        </td>
                    </tr>

                    
                }
            </tbody>
        </table>

    }
    else
    {
        <p>Nenhuma presença registrada hoje.</p>
    }

<style>
        .presenca-container {
            max-width: 620PX;
        }


        .presenca-table {
            width: 100%;
            border-collapse: collapse;
        }

            .presenca-table th,
            .presenca-table td {
                padding: 12px 15px;
                text-align: left;
            }

            .presenca-table th {
                background-color: transparent;
                color: #333333;
                font-weight: 600;
            }

            .presenca-table tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            .presenca-table tr:nth-child(odd) {
                background-color: #ffffff;
            }

</style>
