@model List<Cadasvan01.Models.Presenca>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Aluno</th>
            <th>Ida</th>
            <th>Volta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presenca in Model)
        {
            <tr>
                <td>@presenca.DataViagem.ToString("dd/MM/yyyy")</td>
                <td>@presenca.Usuario?.NomeCompleto ?? "N/A"</td>
                <td class="text-center">
                    @if (presenca.ConfirmaIda)
                    {
                        <span style="color: green;">&#x2714;</span>
                    }
                    else
                    {
                        <span style="color: red;">&#x2716;</span>
                    }
                </td>
                <td class="text-center">
                    @if (presenca.ConfirmaVolta)
                    {
                        <span style="color: green;">&#x2714;</span>
                    }
                    else
                    {
                        <span style="color: red;">&#x2716;</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


