@model Cadasvan01.Models.ConfirmacaoDePresenca

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConfirmacaoDePresenca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <p>

            </p>
            <div class="form-group">
                <label asp-for="MotoristaId" class="control-label"></label>
                <select asp-for="MotoristaId" class ="form-control" asp-items="ViewBag.MotoristaId"></select>
            </div>
            <p>

            </p>
            <div class="form-group form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="ConfirmadoPresencaIda" /> Confirme sua ida
                </label>
            </div>
            <p>

            </p>
            <div class="form-group form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="ConfirmadoPresencaVolta" />Confirme sua volta
                </label>
            </div>
            <p>

            </p>
            <div class="form-group">
                <label asp-for="DataViagemConfirmada" class="control-label"></label>
                <input asp-for="DataViagemConfirmada" class="form-control" />
                <span asp-validation-for="DataViagemConfirmada" class="text-danger"></span>
            </div>
            <p>

            </p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <p>

    </p>
    <a asp-action="Index" class="btn btn-outline-dark btn-sm">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
