@model Cadasvan01.Models.ConfirmacaoDePresenca

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConfirmacaoDePresenca</h4>
<hr />
<div class="flex-container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsuarioId" class="control-label"></label>
                    <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MotoristaId" class="control-label"></label>
                    <select asp-for="MotoristaId" class ="form-control" asp-items="ViewBag.MotoristaId"></select>
                </div>
                <div class="form-group form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="ConfirmadoPresencaIda" /> Confirme sua ida @Html.DisplayNameFor(model => model.ConfirmadoPresencaVolta)
                    </label>
                </div>
                <div class="form-group form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="ConfirmadoPresencaVolta" />Confirme sua volta @Html.DisplayNameFor(model => model.ConfirmadoPresencaVolta)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="DataViagemConfirmada" class="control-label"></label>
                    <input asp-for="DataViagemConfirmada" class="form-control" />
                    <span asp-validation-for="DataViagemConfirmada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
