@model Cadasvan01.Models.Viagem

@if (Model != null)
{
    <h2>Seu motorista iniciou uma viagem!</h2>
    <p>Destino: @Model.Destino</p>
    <p>Hora de Início: @Model.HoraInicio</p>
    <a class="btn btn-primary" asp-action="VerLocalizacao">Ver localização do motorista</a>
}
else
{
    <h2>Seu motorista não está em nenhuma viagem!</h2>
}