@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            @if (!string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.CaminhoImagemPerfil))
            {
                <img src="@UserManager.GetUserAsync(User).Result.CaminhoImagemPerfil" class="rounded-circle" width="30" height="30" alt="Profile Image" />
            }
            else
            {
                <img src="~/images/default-profile.jpg" class="rounded-circle" width="30" height="30" alt="Default Profile Image" />
            }
            <div class="dropdown">
                <button class="dropbtn">
                    @User.Identity.Name
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <form  asp-area="" asp-controller="Account" asp-action="Logout" method="post" asp-route-returnUrl="@Url.Action("Index", "Home")">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                    <a href="#">Link 3</a>
                </div>
            </div>
            
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>



<style>
    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: transparent;
    }
</style>
