@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = UserManager.GetUserAsync(User).Result;
        var userRole = UserManager.GetRolesAsync(user).Result.FirstOrDefault();

        <!-- Dropdown de Notificações -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class='bx bxs-bell'></i>
                <span id="notificationCount" class="badge badge-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                <div id="unreadNotifications"></div>
            </div>
        </li>

        <!-- Dropdown de Perfil do Usuário -->
        <li class="nav-item dropdown">
            @{
                string profileImageUrl = string.IsNullOrEmpty(user.CaminhoImagemPerfil)
                ? Url.Content("~/images/default-profile.jpg")
                : Url.Content(user.CaminhoImagemPerfil);
            }
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@profileImageUrl" class="rounded-circle" width="40" height="40" alt="Profile Image" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                @if (userRole == "Motorista")
                {
                    <a class="dropdown-item" asp-area="Motorista" asp-controller="MotoristaPerfil" asp-action="Edit">Gerenciar conta</a>
                }
                else if (userRole == "Aluno")
                {
                    <a class="dropdown-item" asp-area="Aluno" asp-controller="AlunoPerfil" asp-action="Edit">Gerenciar conta</a>
                }
                <div class="dropdown-divider"></div>
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="dropdown-item">
                    <button type="submit" style="background:none;border:none;padding:0;margin:0;color:#333;">Logout</button>
                </form>
            </div>
        </li>
    }
</ul>

<style>
    .nav-link {
        color: white !important;
    }

        .nav-link:hover {
            color: #ddd !important;
        }

    .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        right: 0;
        left: auto;
    }

    .dropdown-item {
        color: #333;
        padding: 0.7rem;
        text-align: center;
    }

        .dropdown-item:hover {
            background-color: #f8f9fa;
        }

    .dropdown-toggle::after {
        display: none;
    }

    .badge {
        background-color: #dc3545;
        color: white;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function updateNotifications() {
            fetch('/Aluno/AlunoAvisos/ContadorAvisosNaoLidos')
                .then(response => response.json())
                .then(data => {
                    var countElement = document.getElementById('notificationCount');
                    countElement.textContent = data.count > 0 ? data.count : '';

                    var unreadNotifications = document.getElementById('unreadNotifications');
                    unreadNotifications.innerHTML = '';

                    data.avisos.forEach(aviso => {
                        var avisoElement = document.createElement('a');
                        avisoElement.href = '#';
                        avisoElement.className = 'dropdown-item';
                        avisoElement.textContent = aviso.Titulo;
                        avisoElement.setAttribute('data-id', aviso.AvisoId);
                        avisoElement.setAttribute('data-titulo', aviso.Titulo);
                        avisoElement.setAttribute('data-conteudo', aviso.Conteudo);
                        avisoElement.onclick = function () {
                            mostrarAvisoModal(aviso.Titulo, aviso.Conteudo, aviso.AvisoId);
                        };
                        unreadNotifications.appendChild(avisoElement);
                    });
                });
        }

        function marcarComoLido(id) {
            fetch('/Aluno/AlunoAvisos/MarcarComoLido', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(id)
            }).then(response => {
                if (response.ok) {
                    updateNotifications();
                } else {
                    console.error('Erro ao marcar como lido:', response.statusText);
                }
            }).catch(error => {
                console.error('Erro ao marcar como lido:', error);
            });
        }

        function mostrarAvisoModal(titulo, conteudo, id) {
            var modalTitulo = document.getElementById('modalTitulo');
            var modalConteudo = document.getElementById('modalConteudo');
            modalTitulo.innerText = titulo;
            modalConteudo.innerText = conteudo;
            var modal = document.getElementById('avisoModal');
            modal.style.display = 'block';
            marcarComoLido(id);
        }

        updateNotifications();

        $('#notificationDropdown').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().toggleClass('show');
            $(this).next('.dropdown-menu').toggleClass('show');
        });

        $('#profileDropdown').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().toggleClass('show');
            $(this).next('.dropdown-menu').toggleClass('show');
        });

        $(document).on('click', function (event) {
            if (!$(event.target).closest('.nav-item.dropdown').length) {
                $('.nav-item.dropdown').removeClass('show');
                $('.nav-item.dropdown .dropdown-menu').removeClass('show');
            }
        });
    });
</script>

<!-- Modal para exibir o aviso -->
<div id="avisoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitulo"></h2>
        <p id="modalConteudo"></p>
        <button id="okButton">Ok</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById("avisoModal");
        var span = document.getElementsByClassName("close")[0];
        var okButton = document.getElementById("okButton");

        span.onclick = function () {
            modal.style.display = "none";
        }

        okButton.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>
