@model IEnumerable<Cadasvan01.Models.Aviso>

<h2>Avisos</h2>
<a asp-area="Motorista" asp-controller="MotoristaAvisos" asp-action="Criar">Criar um novo aviso</a>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Data de publicação</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aviso in Model)
        {
            <tr>
                <td>@aviso.Titulo</td>
                <td>@aviso.DataPublicacao</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@aviso.AvisoId"><i class='bx bx-edit-alt'></i> Editar</a> |
                    <a asp-action="Deletar" asp-route-id="@aviso.AvisoId"><i class='bx bx-trash'></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
