@model Cadasvan01.ViewModel.LoginViewModel
@{
    ViewBag.Title = "Login de Usuário";
}

<center>
<h3>Login</h3>
</center>
<br>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="text-align:center" class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br>
            <div style="text-align:center" class="form-group">
                <label asp-for="Senha"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
