<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Aluno.</h2>
        </p>

    </div>
    <a asp-area="Aluno" asp-controller="AlunoCodigo" asp-action="VincularMotorista">Se vincule a um motorista</a>
    <br />

</div>