@model Cadasvan01.Areas.Aluno.Controllers.AlunoIndexViewModel

<h2>Bem-vindo, @Model.Aluno.NomeCompleto</h2>

@if (Model.Motorista != null)
{
    <partial name="_MotoristaInfo" model="Model.Motorista" />
}
else
{
    <p>Você ainda não está vinculado a um motorista.</p>
    <a asp-area="Aluno" asp-controller="AlunoCodigo" asp-action="VincularMotorista">Se vincule a um motorista</a>
}
<br />

