@model Cadasvan01.Areas.Aluno.Controllers.AlunoIndexViewModel


@if (Model.Motorista != null)
{
    <p>Você está vinculado a um motorista.</p>
    <div class="containerConteudo infosMotorista-container">
        <div class="ConteudoHeader"> <h3>Motorista contratado</h3></div>
        <p>Veja as informações do seu motorista!</p>
       

        <a href="@Url.Action("InfosMotorista", "Aluno", new { id = Model.Motorista.Id, area = "Aluno" })" class="btnC btn-custom">
            Acessar</a>
    </div>
    
    <br />
    @Html.Partial("_AlunoAvisosPartial", Model.Avisos)
}
else
{
    <p>Você ainda não está vinculado a um motorista.</p>
    <a asp-area="Aluno" asp-controller="AlunoCodigo" asp-action="VincularMotorista">Se vincule a um motorista</a>
}
<br />


