@model Cadasvan01.Areas.Aluno.Controllers.AlunoIndexViewModel

<h2>Bem-vindo, @Model.Aluno.NomeCompleto</h2>

@if (Model.Motorista != null)
{
    <p>Você está vinculado a um motorista.</p>
    <a href="@Url.Action("InfosMotorista", "Aluno", new { id = Model.Motorista.Id, area = "Aluno" })">Ver informações do motorista</a>
}
else
{
    <p>Você ainda não está vinculado a um motorista.</p>
}


<br />

