@model Cadasvan01.Models.Usuario

<div>
    <h2>Informações do Motorista</h2>
    <p><strong>Nome Completo:</strong> @Model.NomeCompleto</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>CNH:</strong> @Model.CNH</p>
    <p><strong>Placa:</strong> @Model.Placa</p>
</div>
