﻿
<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="Admin" asp-controller="Cidades" asp-action="Index" class="btn btn-dark">Cidades</a>
    </p>
    <a asp-area="Admin" asp-controller="AdminAccount" asp-action="Register" class="btn btn-dark">Registro de motoristas</a>
    </p>
    <a asp-area="Admin" asp-controller="AdminListaMotoristas" asp-action="ListaMotoristas" class="btn btn-dark">Lista de usuários</a>
</div>