
<br />
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Cidades" asp-action="Index">Cidades</a>
</div>