@{
    ViewData["Title"] = "Cadasvan";
}

<div class="text-center">
</div>



<br />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Atual do Aluno</h2>
        </p>
    </div>
    <div>
        <a asp-area="" asp-controller="ConfirmacaoDePresencas" asp-action="Index">Presença</a>
    </div>

    <div>
        <a asp-area="" asp-controller="Avisos" asp-action="Index">Visualizar os avisos</a>
    </div>
</div>
